
.theme-light {
  --bg-color: #ffffff;
  --text-color: #111827;
  --font-family: 'Segoe UI', sans-serif;
}

.theme-dark {
  --bg-color: #1f2937;
  --text-color: #fbf9f9;
  --font-family: 'Courier New', monospace;
}

.theme-colorful {
  --bg-color: #fef3c7;
  --text-color: #1e3a8a;
  --font-family: 'Comic Sans MS', cursive;
}

@keyframes marquee-left-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-marquee-left-to-right {
  display: inline-block;
  white-space: nowrap;
  animation: marquee-left-to-right 30s linear infinite;
}

.animate-marquee-left-to-right:hover {
  animation-play-state: paused;
}
